<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../post-header/post-header.html">
<link rel="stylesheet" href="../../bower_components/ideal-image-slider/ideal-image-slider.css">
<link rel="stylesheet" href="../../bower_components/ideal-image-slider/themes/default/default.css">

<dom-module id="page-home" is="dom-bind">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <div>
            <div class="row one project-gallery" dom-if="[[getFirstArrayItem(siteData.projects)]]">
                <div class="tabs three half">
                    <input id='tab-1' type='radio' name='projectGallery' checked />
                    <input id='tab-2' type='radio' name='projectGallery'>
                    <input id='tab-3' type='radio' name='projectGallery'>
                    <div class="row">
                        <template is="dom-repeat" items="[[getFirstThreeArrayItems(siteData.projects)]]" style="display: none;">
                            <div>
                                <img src="[[item.thumbnail]]">
                            </div>
                        </template>
                    </div>
                    <label for="tab-1">&bull;</label>
                    <label for="tab-2">&bull;</label>
                    <label for="tab-3">&bull;</label>
                </div>
            </div>
        </div>
        <div dom-if="[[getFirstArrayItem(siteData.blog)]]">
            <h2>Latest Blog Post</h2>

            <div class="post-list-header">
                <post-header post-data="[[getFirstArrayItem(siteData.blog)]]"></post-header>
            </div>
            <p>[[getFirstArrayItem(siteData.blog, 'excerpt')]]</p>
            <p><a href="#/blog/[[getFirstArrayItem(siteData.blog,'url')]]">Read More</a></p>
        </div>
    </template>
    <script>
    Polymer({

      is: 'page-home',

      properties: {
        siteData: {
          type: Object,
          value: {}
        }
      },
      ready: function() {
          var gallery = this.$$('.project-gallery');
          var mouseIsOver = false;

          setInterval(function() {
              if(!mouseIsOver) {
                var current = gallery.querySelector('input[type="radio"]:checked');
                var next = current.nextElementSibling;
                if(next.tagName !== 'INPUT' || next.attributes.type.value !== 'radio') {
                    next = gallery.querySelector('input[type="radio"]');
                }
                current.checked = false;
                next.checked = true;
              }
          }, 10000);

          gallery.onmouseover = function() {
              mouseIsOver = true;
          };

          gallery.onmouseleave = function() {
              mouseIsOver = false;
          };
      },
      getFirstArrayItem: function (arr, prop) {
        arr = arr || [];
        prop = prop || null;

        var el = arr[0] || {};
        if (prop) {
            return el[prop];
        }

        return el;
    },
    getFirstThreeArrayItems: function (arr) {
        arr = arr || [];

        return arr.slice(0,3);
    }
    });
  </script>
</dom-module>