<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../post-header/post-header.html">
<link rel="import" href="../page-home/page-home.html">
<link rel="import" href="../page-blog/page-blog.html">

<dom-module id="jasonbutz-info-app">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{data}}"></app-route>
        <app-route route="{{route}}" pattern="/home"></app-route>
        <app-route route="{{route}}" pattern="/blog" tail="{{routeBlog}}"></app-route>
        <app-route route="{{routeBlog}}" pattern="/:date/:post" data="{{subrouteData}}"></app-route>

        <app-drawer-layout force-narrow>
            <app-drawer>
                <div style="height: 100%; overflow: auto;">
                    <a class="stack pseudo button" href="/">Home</a>
                    <a class="stack pseudo button" href="#/blog">Blog</a>
                    <a class="stack pseudo button" href="#/">Projects</a>
                    <a class="stack pseudo button" href="#/">About</a>
                    <a class="stack pseudo button" href="#/">Contact</a>
                </div>
            </app-drawer>
            <app-header-layout>
                <app-header>
                    <app-toolbar>
                        <nav class="loading three-500">
                            <div class="nav-item nav-menu">
                                <i class="fa fa-bars fa-2x" drawer-toggle aria-hidden="true"></i>
                            </div>
                            <div class="nav-item nav-brand center" title>
                                <a href="#/home">Jason &amp; The Web</a>
                            </div>
                        </nav>
                    </app-toolbar>
                </app-header>

                <main class="flex one">
                    <div class="off-sixth two-third">
                        <iron-ajax url="[[dataFileUrl]]" last-response="{{siteData}}" auto></iron-ajax>
                        <iron-pages attr-for-selected="id" selected="{{data.page}}">
                            <page-home id="home" site-data="[[siteData]]"></page-home>
                            <page-blog id="blog" blog-list="[[siteData.blog]]" route-data="[[subrouteData]]"></page-blog>
                        </iron-pages>
                    </div>
                </main>

            </app-header-layout>
        </app-drawer-layout>

    </template>

    <script src="jasonbutz-info-app.js"></script>
</dom-module>